* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.fa-envelope {
    color: #FF6E31;
    margin: 0 8px;
  }
.fa-bell {
    color: white;
    padding: 0 8px;
  }

li, a, button {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #243763;
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-size: xx-large;
    color: #243763;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0 20px;
}
#btn {
    background-color: #FF6E31;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: 600;
}
#btn:hover {
    background-color: #f7966d;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.leftblock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    
}
hr {
    border: solid 0 0 0 0;
    width: 10%;
    height: 3px;
    background-color: #FF6E31;
    border-style: inset;

}
.rightblock {
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 80px;
}
.rightblock img {
    width: 100%;
    height: 50vh;
}
h1 {
    font-size: 64px;
}
.line {
    display: inline-block;
}
.line p {
    display: inline-block;
    color: #FF6E31;
}

.text {
    width: 60%;
    margin-top: 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}
.social i {
    padding: 0 20px;
    cursor: pointer;
}

@media (max-width: 600px){
    header #mail{
        display: none;
    }
    h1{
        font-size: 32px;
    }
    footer{
        padding: 0;
        justify-content: space-around;
    }
    .social i{
        padding: 0 5px;
    }
    .leftblock{
        max-width: 40vh;
    }
}